*{
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0%;
    color: white;
    
}

/*HEADER*/

header{
    background: url('images/banner.jpg');
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5vh;
}


/*NAV*/
ul{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 25px;
    padding: 0;
}

ul li {

    display: inline-block;
    list-style: none;
    width: 18%;
    text-align: center;
   
}

/*INFO*/

.flexmain_container{
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 30vh;
    padding-top: 50px;
}

#question{
    background-color: black;
    text-align: center;
    padding: 70px;
}

.img{
    width: 100%;
    
}

.right_wrapper{
    width: 50%;
   
}

.left_wrapper, .right_wrapper{
    width: 50vh;
}


/*BANNER*/

#banner{
    background-color: rgb(65, 62, 62);
    text-align: center;
    border-top: 5px solid red;
    border-bottom: 1px solid red;
    width: 100%;
    height: 30vh;
    position: fixed;
    bottom: 0;
    padding-top: 50px;
}





button{
    background-color: white;
    color: rgb(78, 75, 75);
}

@media screen and (max-width:768px){
    
    header{
        justify-content: center;
        font-size:35px;
        text-align: center;
    }    
    
    ul li{
        display: inline-block;
        width: 15%;
        text-align: center;
    }
    .flexmain_container{
        background-color: blue;
    }
    
}
    
