*{
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0%;
    color: white;
    
}

/*HEADER*/

header{
    background: url('images/banner.jpg');
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5vh;
}


/*NAV*/
ul{
    background-color: black;
    width: 100%;
    height: 25px;
    margin-top: 0%;
}

ul li {

    display: inline-block;
    list-style: none;
    width: 18%;
    
   text-align: center;
}

/*INFO*/

.flexmain_container{
    background-color: black;
    display: flex;justify-content: space-around;
}

#question{
    background-color: black;
    text-align: center;
    padding-top: 20px;
}

.dragon_img{
    width: 100%;
    
}

.right_wrapper{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.left_wrapper, .right_wrapper{
    width: 30vh;
}


